@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Tajawal', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Amiri', serif;
  }
}

html {
  scroll-behavior: smooth;
}
